$SingleEssence: (pc-image-url: 'https://donginbi.s3.amazonaws.com/static/singleessence/images/pc',
  mo-image-url: 'https://donginbi.s3.amazonaws.com/static/singleessence/images/m',
  popup-image-url: 'https://donginbi.s3.amazonaws.com/static/singleessence/images/popup'
) !default;
