/*==============================================
   ** 해당 style.scss 파일은 전역에서 불러와서 사용하는 것임으로
   ** 전 프로젝트 공용으로 적용될 scss 파일을 불러와주세요
   ** 각 프로젝트 관련된 reset 은 해당 components에 정의하여 불러와주세요 
/*==============================================*/

@import '@/assets/scss/base/_reset-eric';
// 전 프로젝트 reset
@import '@/assets/scss/base/_reset';

@import '@/assets/scss/util/_a11y';

 
//  .bounce-enter-active {
//    animation: bounce-in .8s;
//  }
//  .bounce-leave-active {
//    animation: bounce-out .5s;
//  }
//  @keyframes bounce-in {
//    0% { transform: translate(30px, 0); }
//    100% { transform: translate(-30px, 0); }
//  }
//  @keyframes bounce-out {
//    0% { transform: scale(1) }
//    50% { transform: scale(1.5) }
//    100% { transform: scale(0) }
//  }
 
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}

.layout-enter,
.layout-leave-to {
  opacity: 0;
}