// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');

.container {
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;

  .kv {
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mainNav {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 100;

    &.on {
      height: 100%;
    }
  }
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
