
.container{
  min-height: 100vh;
  .kv {
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mainNav {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1;
  }
}
